<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Постачальник -->
		<add key="provider" value="Microsoft.Data.SqlClient"/>
		<!-- Рядок підключення -->
		<add key="connectionString" value="Data Source=VDBS;Initial Catalog=Exibition;Persist Security Info=True;User ID=dbuser;Password=dbuser;Encrypt=False;Connect Timeout=30"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework, Version=v4.8" />
	</startup>
</configuration>